@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F4EDE6;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: #2E2E2E;
  font-family: "Cabinet Grotesk";
}


h2{

  font-weight: 700;
  text-transform: uppercase;
  font-size: 55px;
}

h1{

  font-size: 95px;
  line-height: 70px;
  text-transform: uppercase;

}

p{

font-size: 19px;
font-weight: 700;
text-transform: uppercase;


}

span{

  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 100%;
}


.revealer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  transform-origin: center top;
  background-color: var(--fg);
  pointer-events: none;
  z-index: 2;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}
